# Ignore private configuration with API Key
config.json

# Ignore process ID files
*.pid
smartpolisher.pid

# Ignore log files
*.log

# Ignore local Windows shortcuts (generated dynamically during setup)
*.lnk
